// var

$background: #fe746e;
$foreground: #2f7df6;
$accent: #eefa5a;
$black: #101010;

// src

html {
	height: 100dvh;
	width: 100dvw;
	margin: 0;
	font-family: helvetica, sans-serif;
	font-size: 16px;
	color: white;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	text-size-adjust: 100%;
	background-color: $black;
	user-select: none !important;
	-webkit-user-select: none !important;
}

#root {
	height: 100%;
	width: 100%;
	display: grid;
	place-content: center center;
}

// children

@import './drum';
